body {
  background-color: rgb(239,239,239);
  color: black;
}
.topNavBar {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topNavBar-inner {
  padding: 0 16px 0 16px;
}
.topNavBar a {
  float: left;
  color: inherit;
  text-decoration: none;
}
.topNavBar nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}
.topNavBar nav ul li {
  float: right;
  color: #ccced1;
  margin-left: 11px;
  margin-right: 11px;
}
.topNavBar nav ul li a {
  color: #b7b7b7;
  font-weight: bold;
  font-size: 18 px;
  border-bottom: 3px solid transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
}
.topNavBar nav ul li a:hover {
  border-bottom: 3px solid rgb(232, 103, 107);
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.banner {
  height: 515px;
  background-position: center center;
  background-size: cover;
}
.banner .mask {
  height: 515px;
  background-color: rgba(44, 51, 64, 0.8);
}
.rs {
  font-size: 30px;
  padding-right: 5px;
  color: rgb(232, 103, 107);
  margin-left: 20px;
}
.card {
  font-size: 30px;
}
a.logo span {
  font-family: "Arial Black";
}
.Usercard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 1px 1px 9px 1px rgba(133,133,133,1);
}
.Usercard .picture{
  float: left;
  padding-right: 55px;
}
.Usercard .pictureAndText{
  padding: 55px;
}
.Usercard .text{
  float: left;
}
.Usercard .welcome {
  background-color: #e8676b;
  color: white;
  display:  inline-block;
  padding: 4px 16px 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 30px;
  font-weight: bold; 
}
.Usercard .welcome .triangle {
  display: inline-block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e8676b;
  border-top-width: 0px;
  position: absolute;
  top:100%;
}
*{
  margin: 0px;
}
.Usercard h1{
  margin-bottom: 16px;
}
.Usercard .text{
  float: left; 
  width: 470px;
}
.Usercard .text hr{
  margin: 20px 0px;
  color: #9da0a7;
}
.Usercard dl dd,
.Usercard dl dt{
  float:left;
  padding: 5px 0px;
}
.Usercard dl dd{
  width: 70%;
  color:#9da0a7;
}
.Usercard dl dt{
  width: 30%;
}
.Usercard footer.media{
  background: #e8676b;
  text-align: center;
}
.media svg{
  width: 30px;
  height: 30px;
  fill:white;
}
.Usercard .media a{
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  border-radius: 50%;
  margin: 25px 16px;
  width: 30px;
  height: 30px;
}
.Usercard .media a:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
body main{
  margin-top: -340px;
}
.downloadResume-wrapper{
  text-align: center;
  margin: 25px 0px 25px 0px;
}
.downloadResume-wrapper .downloadResume{
  text-decoration: none;
  border: 1px solid rgb(203, 205, 207);
  color: #3d4451;
  display: inline-block;
  padding: 18px 50px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  transition：box-shadow 1s;
}
.downloadResume-wrapper .downloadResume:hover{
  box-shadow: 0.5px 2px 9px 2px rgba(194,194,194,0.73);
}
main .selfIntroduction{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
  line-height: 18px;
  line-height: 36px;
  font-size: 18px;

}
section.skills{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 
}
section.skills > h2{
  margin: 32px 0px;
  color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 70px;
}
section.skills > ol.skillsList{
  list-style: none;
  background: white;
  box-shadow: 1px 1px 9px 1px rgba(133,133,133,1);
  margin: 0px;
  padding: 40px 50px 10px;


}
section.skills  ol  h3{
  display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    padding-right: 48px;
    color: #9da0a7  ;
}
section.skills > ol > li{
   list-style: none;
   float: left;
   width: 48%;
  list-style: none;
}
section.skills > ol > li:nth-child(even){
  float:right;
}
section.skills .progressBar{
  height: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(250,225,225);
  border-radius: 5px;
  margin-top:5px;
  margin-bottom: 40px;;
}
section.skills .progress{
  height: 100%;
  background-color: red;
  width: 50%;
  background-color: #e8676b;
  border-radius: 5px;
}
section.portflio{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
}
section.portflio > h2{
  margin: 32px 0px;
  color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 70px；
}
section.portflio >nav{
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
section.portflio >nav >ol{
 list-style: none;
  padding: 0px;
  margin: 0px;  
  display: inline-block;
}
section.portflio >nav >ol >li{
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
section.portflio >nav >ol >li:nth-child(1){
  margin-left: 0px;
}
section.portflio nav .bar{
  height: 5px;
  background-color: white;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 30px;
}
section.portflio nav .bar-inner{
  height: 100%;
  width: 20%;
  background-color: #e8676b;
  border-radius: 2px;
  transition: all 0.3s;
}
section.portflio nav .bar.stutas-1 .bar-inner{
  margin-left: 0px;
  width: 35px;
}
section.portflio nav .bar.stutas-2 .bar-inner{
  margin-left: 71px;
  width: 38px;
}
section.portflio nav .bar.stutas-3 .bar-inner{
  margin-left: 142px;
  width: 52px;
}
.works {
  height: 576px;
  position: relative;
}
.works .big,
.works .small{
  position: absolute;
}
.works .big{

}
